@model IEnumerable<VideoGameOfferVm>

@{
    ViewData["Title"] = "List of Offers";
}

<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromoText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PromoText)
                </td>
                <td>
                    <del>@Html.DisplayFor(modelItem => item.Price)</del>
                    @Html.DisplayFor(modelItem => item.NewPrice)
                </td>
                <td>
                    <a asp-controller="VideoGame" asp-action="Offer" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
