@model ExistentSpecialDayDto

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>
<div>
    <h4>Special Day</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day)/@Html.DisplayFor(model => model.Month)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsWorkDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsWorkDay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> | <partial name="_BackToList" />
</div>
