@model IndexOrderContentsVm

@{
    ViewData["Title"] = "Index";
    decimal cost = 0;
}

<h1>List of video games included in the order:</h1>
<p>
    <a asp-action="Create" asp-route-oid="@Model.OrderId">Add a video game to the order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListOrderContents!)
        {
         cost += item.TotalPrice;
         <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VideoGame!.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice) RON
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice) RON
            </td>
            <td>
                <a asp-action="Edit" asp-route-oid="@item.OrderId" asp-route-id="@item.VideoGameId">Edit</a> |
                <a asp-action="Details" asp-route-oid="@item.OrderId" asp-route-id="@item.VideoGameId">Details</a> |
                <a asp-action="Delete" asp-route-oid="@item.OrderId" asp-route-id="@item.VideoGameId">Remove</a>
            </td>
        </tr>
        }
        <h1>Total cost of items is: @cost RON</h1>
    </tbody>
</table>
@await Html.PartialAsync("_MessageResponse", "MessageOrderContent")
