@model IndexReviewsVm

@{
    ViewData["Title"] = "Index";
}

<h1>List of Reviews for the Reviewing Company <strong>@Html.DisplayFor(m => Model.Reviewer)</strong></h1>

<p>
    <a asp-action="Create">Add a Review</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Content
            </th>
            <th>
                Final?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListReviews!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoGame!.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFinal)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VideoGameId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VideoGameId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VideoGameId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("_MessageResponse", "MessageReview")
