﻿﻿﻿@using AppUI.Models.ViewModels
@model CardReviewVm
<div class="card h-100">
    <div class="card-body">
        <h3 class="card-text">@Html.DisplayFor(m => Model.VideoGame)</h3>
        <h4 class="card-subtitle mb-2 text-body-secondary">
            @Html.DisplayFor(m => Model.Reviewer)</h5>
            <h5 class="card-subtitle mb-2 text-body-secondary">@Html.DisplayFor(m => Model.Content)</h5>
            <a asp-controller="Review" asp-action="Details" asp-route-vid="@Model.VideoGameId" asp-route-rid="@Model.ReviewerId" class="card-link">Details</a>
    </div>
</div>